a{
    text-decoration:none;
   }
   nav.navbar.ml-auto{
       margin-right: 20px;
       padding-top: 20px;
   }
   .nav_section{
    background-color: #ed5e5d;
   }
   .ml-auto{
       margin-left:auto;
       padding-top: 20px;
   }
   .nav_opt{
       margin-left: 20px;
       color:#fff;
       font-family: 'Poppins';
   }
   nav.navbar >ul>li{
       list-style: none;
   }
   ul>li{
       list-style: none;
   }
   .socal_icon{
       position: absolute;
       top:450px;
       left: 1185px;
       font-size: 25px;
   }
   .socal_icon_color{
       color: #ed5e5d;
   }
   .shop_button{
       border-style: solid;
       padding: 15px;
       border-color:#fff;
       border-radius: 25px;
       color: #fff;
       font-family: "Poppins";
   }
   .down_arrow{
       position: absolute;
       top: 565px;
       left: 630px;
       font-size: 35px;
   }
   .down_arrow_color{
       color: #fff;
   }
   a:hover {
       color:#ffa4a4;
     }
     .hd_one{
        font-family: "Fredoka One";
     }
     .hd-two{
        font-family: "Fredoka One";
        color: #ffea00;
     }
     .banner_paragraf{
        font-family: "Rubik";
     }
 .btn{
    -webkit-box-shadow: -1px -2px 34px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    border-radius: 20px;
    width: 250px;
    font-family: "Fredoka One";
 }

 .btn_grp{
    gap: 20px;
 }
 .btn_sub{
    padding-top: 0px;
 }
 .btn_sub_name{
    padding-top:20px;
 }
 .btn_name{
    padding-left: 15px;
 }
 .btn_img{
    padding-top: 18px;
    padding-left: 22px;
 }
 .btn_sub_name_a{
    padding-top: 22px;
    padding-right: 45px;
 }
 .btn_ancr{
    color: black;
 }
 .aboutus{
    font-family:"Fredoka One" ;
    font-size: 60px;
 }
 .us{
    color: #ed5e5d;
 }
 .aboutus_para{
    font-family: "Poppins";
    font-size: 18px;
 }
 .cf_regular_menu{
   background-color: #ed5e5d;
 }
 .regular_menu_hd{
   font-family: "Fredoka One";
   font-size: 50px;
   color: #fff;
 }
 .menu{
   -webkit-box-shadow: -1px -2px 34px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
 }
 .sub_menu_img{
   margin-left: 35px;
 }
 .menu_hd{
   font-family:"Fredoka One" ;
   font-size: 15px;
 }
 .menu-hd_2{
   font-family: "Poppins";
   font-size: 14px;
   color: #8c8a8a;
 }
 .price{
   font-family:"Fredoka One" ;
   font-size: 25px;
 }
 .order_now{
   background-color: #ed5e5d;
   border-radius: 25px;
   padding: 5px;
   margin-top: 3px;
 }
 .oeder_now_btn_name{
   font-family: "Poppins";
   font-size: 14px;
   padding: 12px;
   color: #fff;
 }
 .free_box{
   -webkit-box-shadow: -1px -2px 34px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    background-color: #fff;
    border-radius: 20px;
 }
 .free_box-sub{
   border-style: dashed;
   border-radius: 20px;
   border-color: #e77938;
   border-width: 2px;
 }
 .hd_a{
   font-family:"Fredoka One" ;
   font-size: 40px;
 }
 .hd_b{
   font-family:"Fredoka One" ;
   font-size: 40px;
   color: #ed5e5d;
 }
 .text_box_btn{
   font-family: "Poppins";
   font-size: 17px;
   background-color: #f25c00;
   border-radius: 30px;
   width: 480px;
   padding: 10px;
   margin-left: 28%;
 }
 .text_box_btn_name{
   color: #fff;
 }
 .today-offer-hd{
   font-family:"Fredoka One" ;
   font-size: 45px;
 }
 .today-offer-hd-2{
   font-family:"Fredoka One" ;
   font-size: 45px;
   color: #ed5e5d;
 }
 .today-offer-para{
   font-family: "Poppins";
   font-size: 17px;
   color: #8c8a8a;
 }
 .offer-price{
   font-family:"Fredoka One" ;
   font-size: 35px;
   color: #303030;
 }
 .today-order-btn-box{
   background-color: #16ab1d;
   border-radius: 30px;
   padding: 15px;
   width: 50%;
 }
 .order-now{
   color: #fff;
   padding-left: 10px;
 }
 .arrow{
   font-size: 55px;
   color: #666666;
 }
 .offer-ctnr{
   margin-left: 40px;
 }
 .gift-img{
   border-radius: 30px;
 }
 .cf-gc{
   background-color: #707070;
 }
 .gift-card{
   background-color: #fff;
   height: 100%;
 }
 .gf-hd-1{
   font-family:"Fredoka One" ;
   font-size: 27px;
 }
 .gf-hd-2{
   font-family:"Fredoka One" ;
   font-size: 50px;
   color:#ed5e5d;
 }
 .gf-hd-3{
   font-family:"Fredoka One" ;
   font-size: 21px;
 }
 .gf-para{
   font-size: 16px;
   font-family: "Poppins";
   color: #303030;
 }
 .apply-now-box{
   background-color: #f25c00;
   border-radius: 30px;
   padding: 27px;
   width: 30%;
   margin-top: 30px;
   margin-bottom: 30px;
 }
 .apply-now-btn{
   color: #fff;
 }
.perfect{
   font-family:"Fredoka One" ;
   font-size: 50px;
}
.plan-hd{
   font-family:"Fredoka One" ;
   font-size: 50px;
   color: #ed5e5d;
}
.plan-box{
   -webkit-box-shadow: -1px -2px 34px -3px rgba(0,0,0,0.48);
   -moz-box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
   box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
   border-radius: 10px;
   padding: 20px;
   margin-right: 20px;
}
.plan-price-hd{
   color: #ed5e5d;
   font-size: 50px;
   font-family:"Fredoka One" ;
}
.plan-price-hd2{
   font-family:"Poppins" ;
   font-size: 20px;
}
.item{
   font-family:"Poppins" ;
   color: #303030;
   font-size: 18px;
}
.ok{
   font-size: 18px;
   color: #16ab1d;
}
.subcribe_btn{
   background-color: #313131;
   border-radius: 30px;
   padding: 15px;
}
.sn-btn-name{
   color: #fff;
   font-family:"Poppins" ;
   font-size: 18px;
}
.secondplan-box{
   -webkit-box-shadow: -1px -2px 34px -3px rgba(0,0,0,0.48);
   -moz-box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
   box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
   border-radius: 10px;
   padding: 20px;
   margin-right: 20px;
   background-color: #ed5e5d;
   color: #fff;
}
.secondplan-price-hd{
   font-family:"Fredoka One" ;
   font-size: 50px;
}
.secondplan-price-hd2{
   font-family:"Poppins" ;
   font-size: 20px;
}
.second-item{
   font-family:"Poppins" ;
   color:#fff;
   font-size: 18px;
}
.secondsubcribe_btn{
   background-color:#fff;
   border-radius: 30px;
   padding: 15px;
}
.secondsn-btn-name{
   color:#303030;
   font-family:"Poppins" ;
   font-size: 18px;
}
.coustomer-box{
  background-color: #fce3d8;
  border-radius: 30px;
}
.life-right-arrow{
  font-size: 55px;
  color: #d1bdb3;
}
.coustomer-para{
  font-size: 16px;
  font-family: "Poppins";
  color: #303030;
  font-size: 20px;
}
.happy-coustomer{
  font-family:"Fredoka One" ;
  font-size: 20px;
}
.coustomer-name{
  font-family:"Poppins" ;
   color:#ed5e5d;
   font-size: 18px;
}
.underline{
  width: 110px;
  height: 8px;
  background-color: #fff;
  border-radius: 20px;
}
.socal-icon{
  font-size: 20PX;
  padding: 20PX;
  background-color:#fff;
  border-radius: 50px;
  color:black;
}
.opt{
  color: #fff;
}
.socal{
  margin-left: 0px;
  padding-top: 35px;
}
.cf-footer{
  background-color: #ed5e5d;
  color: #fff;
  padding-top: 175px!important;
  font-family:"Poppins" ;
  border-radius:69% 31% 100% 0% / 67% 100% 0% 33%  ;
}
.lst{
  background-color: #ed5e5d;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.footer-underline{
  background-color: #fff;
  height: 2px;
  margin-top: 50px!important;
}
.cf-banner{
  background-color: #ed5e5d;
  padding-bottom: 100px!important;
  border-radius: 100% 0% 66% 34% / 0% 17% 83% 100%  ;
}
.donat{
  padding-bottom: 10px;
}
